<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Dashboard AirController</strong> por <a href="https://github.com/jdcastro/AirController/blob/main/integrantes.md">Grupo 09 NRC 2095</a>. Misión TIC 2022 | Uninorte Ciclo 3
        </p>
        <p>
          <a class="icon" href="https://github.com/jdcastro/AirController">
            <i class="fa-brands fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>