<!DOCTYPE html>
<html lang="en">
{% block head %}
{% with title=pageTitle %}
  {% include 'partials/head.html' with context %}
{% endwith %}
{% endblock head %}

<body>

  {% block header %}
  <header>
    {% block nav %}
    {% with logo = logotipo %}
      {% include 'partials/nav.html' with context %}
    {% endwith %}
    {% endblock nav %}
  </header>
  {% endblock header %}

  {% block full_content %}

  <div class="columns is-variable bd-klmn-columns is-1 pb-0 mb-0">

    {% block aside %}
    {% include 'partials/sidebar-admin.html' without context %}
    {% endblock aside %}

    <div class="column pb-0 mb-0">

      {% block component %}

      {% endblock component %}
    </div>
  </div>
  </div>
  </div>

  {% endblock full_content %}

  {% block footer %}
  {% include 'partials/footer.html' without context %}
  {% endblock footer %}
</body>

</html>