
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  
  
  <link rel="stylesheet" href="../../static/assets/css/custom.css">
  <script src="../../static/assets/js/custom.js"></script>



  <title>Zona de administración  </title>
</head>


<header>

  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/assets/img/logo-160x80.png" alt="Air Controller logo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarPrincipal">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarPrincipal" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Inicio
        </a>

        <a class="navbar-item">
          Documentación
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Otros
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Nuestra Empresa
            </a>
            <a class="navbar-item">
              Vuelos
            </a>
            <a class="navbar-item">
              Contactanos
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Reporta un inconveniente
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Registro</strong>
            </a>
            <a class="button is-light">
              Ingreso
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>




<div class="columns is-variable bd-klmn-columns is-1 pb-0 mb-0">

  


    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>

  <div class="column is-one-fifth  pb-0 mb-0" id="lateral">
    <aside class="menu" id="adminmenu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a>Dashboard</a></li>
        <li><a>Customers</a></li>
      </ul>
      <p class="menu-label">
        Administration
      </p>
      <ul class="menu-list">
        <li><a>Team Settings</a></li>
        <li>
          <a class="is-active">Manage Your Team</a>
          <ul>
            <li><a>Members</a></li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
          </ul>
        </li>
        <li><a>Invitations</a></li>
        <li><a>Cloud Storage Environment Settings</a></li>
        <li><a>Authentication</a></li>
      </ul>
      <p class="menu-label">
        Transactions
      </p>
      <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
      </ul>
    </aside>
    
  </div>

  <div class="column pb-0 mb-0">
    <!-- ZONA DE TITULO ---------------------------------------------------------------------> 
        <section class="hero is-primary">
            <div class="hero-body">
            <p class="title">AYUDA</p>
            <p class="subtitle">¡Bienvenido a nuestro Centro de Ayuda! Encuentra aquí, los temas más consultados</p>
            </div>
        </section>

        <p class="subtitle is-4">Queremos que resuelvas tus preguntas lo más rápido posible</p>

        <p>¡Las dudas son para resolverlas! Por eso en AirController te hacemos la vida realmente fácil, para que puedas resolver tus preguntas lo más rápido posible.
          Primero, date una vuelta por la sección de Preguntas Frecuentes quizá ya respondimos la duda que tienes y sea simple resolverla.</p>
    
        <p> <br/> De lo contrario, encuentra los diferentes canales de atención Viva que tenemos para ti.</p>
        <br/>
    <!-- <div class="bd-notification is-primary ">
      <div class="heading">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
      </div>
      
      <div class="container is-fluid">
      </div>
    </div> -->
    <!-- FIN ZONA DE TITULO------------------------------------------------------------- -->

    <!-- ZONA DE COMPONENTES------------------------------------------------------------ -->
        
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Información Antes de Viajar
        </p>
        <a href="#collapsible-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div id="collapsible-card" class="is-collapsible is-active">
        <div class="card-content">
          <p class="title is-6">
            1. Documentos para vuelos nacionales
          </p>
          <p class="subtitle is-6">
            Para viajes al interior del país, debes tener contigo tu documento de identidad nacional y debes revisar que esté vigente. Si perdiste tu documento de identidad y eres ciudadano Colombiano podrás volar al interior de Colombia usando tu pasaporte, licencia de conducción, libreta militar, tarjeta profesional o cualquier otro documento expedido por una entidad gubernamental del estado colombiano.
          </p>
          <p class="title is-6">
            <br/>2. Documentos para vuelos internacionales
          </p>
          <p class="subtitle is-6">
            Para viajes hacia otros países debes tener contigo tu pasaporte (vigente, original y en buen estado) y visa del país respectivo, cuando se exija como requisito de ingreso al país. 
          </p>
                      </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Medidas COVID-19
        </p>
        <a href="#collapsible-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div id="collapsible-card" class="is-collapsible is-active">
        <div class="card-content">
          Hemos implementado nuestros protocolos de bioseguridad, siguiendo las recomendaciones de la Asociación Internacional de Transporte Aéreo (IATA), para que tú y todos nuestros pasajeros puedan sentirse seguros durante los procesos de compra, registro, documentación, abordaje, vuelo y retiro del equipaje. Conoce más acerca de Avianca Biocare
                      </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          ¿Cuál es el peso y tamaño máximo para el equipaje de bodega?
        </p>
        <a href="#collapsible-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div id="collapsible-card" class="is-collapsible is-active">
        <div class="card-content">
          El peso y las dimensiones máximas permitidas del equipaje de bodega en todos los destinos por pasajero son; 23 kg en Clase económica y 32 kg en Clase ejecutiva (este peso solo aplica para la tarifa XXL y para la primera pieza de equipaje de la tarifa XL), adicionalmente no debe superar los 158 centímetros lineales equivalentes a la suma de las dimensiones exteriores (alto+largo+ancho).</div>
      </div>
    </div>
    
    
    <!--div class="section">
            <div class="container">
                <div class="columns"> 
                
                <div class="column"> 
                    <div class="field">
                    <label class="label">Origen:</label>
                    <p class="control has-icons-left">
                      <span class="select">
                        <select>
                          <option selected>Aeropuerto Bonilla Aragon</option>
                          <option>Aeropuerto 1</option>
                          <option>Aeropuerto 2</option>
                          <option>Aeropuerto 3</option>
                        </select>
                      </span>
                      <span class="icon is-small is-left"><i class="fa-solid fa-plane-departure"></i></span>
                    </p>
                    </div>
                </div>
                
                <div class="column">
                  <div class="field">
                    <label class="label">Destino:</label>
                    <p class="control has-icons-left">
                      <span class="select">
                        <select>
                          <option selected>Aeropuerto Ernesto Cortizo</option>
                          <option>Aeropuerto 1</option>
                          <option>Aeropuerto 2</option>
                          <option>Aeropuerto 3</option>
                        </select>
                      </span>
                      <span class="icon is-small is-left"><i class="fa-solid fa-plane-arrival"></i></span>
                    </p>
                    </div>
                </div>
                
                <div class="column">
                    <div class="field">
                        <label class="label">Fecha de salida:</label>
                        <p class="control has-icons-left">
                          <span class="select">
                            <select>
                              <option selected>Sept 23 2022</option>
                              <option>fecha 1</option>
                              <option>fecha 2</option>
                              <option>fecha 3</option>
                            </select>
                          </span>
                          <span class="icon is-small is-left"><i class="fa-solid fa-calendar-days"></i></span>
                        </p>
                        </div>
                </div>
            
            </div>

                <div class="control">
                    <button class="button is-primary">Buscar</button>
                </div>


            </div>    
            
        </div-->    

    
        






    <!-- <div class="columns is-mobile is-centered">
        <div class="column box is-one-third">
            <div class="field">
                <p>Bienvenido... </p>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success">
                    Login
                  </button>
                  <button class="button is-warning">recordar clave</button>
                </p>
              </div>
        </div>
    </div> -->
    <!-- FIN ZONA DE COMPONENTES -->

  </div>
</div>




<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

</body>

</html>